# Python Operators

## **ðŸ“šArithmetic Operators**

In [ ]:
a = 10
b = 3
print(a + b)  # Output: 13
print(a - b)  # Output: 7
print(a * b)  # Output: 30
print(a / b)  # Output: 3.3333333333333335
print(a // b) # Output: 3
print(a % b)  # Output: 1
print(a ** b) # Output: 1000

## **ðŸ“šAssignment Operators**

In [ ]:
x = 5
x += 3  # Equivalent to x = x + 3
print(x)  # Output: 8

x *= 2  # Equivalent to x = x * 2
print(x)  # Output: 16

x **= 2  # Equivalent to x = x ** 2
print(x)  # Output: 256

## **ðŸ“šComparison Operators**

In [ ]:
a = 5
b = 3
print(a == b)  # Output: False
print(a != b)  # Output: True
print(a > b)   # Output: True
print(a < b)   # Output: False

False
True
True
False

## **ðŸ“šLogical Operators**

In [ ]:
a = True
b = False
print(a and b)  # Output: False
print(a or b)   # Output: True
print(not a)    # Output: False

False
True
False

## **ðŸ“šBitwise Operators**

In [ ]:
a = 5  # In binary: 0101
b = 3  # In binary: 0011

print(a & b)  # Output: 1 (Binary: 0001)
print(a | b)  # Output: 7 (Binary: 0111)
print(a ^ b)  # Output: 6 (Binary: 0110)
print(~a)     # Output: -6 (Binary: ...1010, in two's complement form)
print(a << 1) # Output: 10 (Binary: 1010)
print(a >> 1) # Output: 2 (Binary: 0010)

1
7
6
-6
10
2

## **ðŸ“šMembership Operators**

In [ ]:
x = 'hello'
y = [1, 2, 3, 4]

print('h' in x)    # Output: True
print(5 not in y)  # Output: True

True
True

## **ðŸ“šIdentity Operators**

In [ ]:
x = ['apple', 'banana']
y = ['apple', 'banana']
z = x

print(x is z)       # Output: True
print(x is y)       # Output: False
print(x == y)       # Output: True
print(x is not y)   # Output: True

True
False
True
True

---